:host {
  width: 60%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  height: 50px;
  background-color: #fff;
  border-radius: 10px;

  select {
    border-radius: 5px;
    padding: 2px 4px;
    cursor: pointer;
  }
}
