<div class="task-wrapper">
  <div>
    <p>Task: {{ task.text | cut: 5 }}</p>
    <p>Date: {{ task.date | date }}</p>
    <div
      *ngIf="task.isImportant"
      class="image-block"
    >
      <img
        src="../../../../assets/images/1828884.png"
        alt="important"
      />
    </div>
    <button (click)="editTask()">Edit</button>
    <button (click)="emitId()">Delete</button>
  </div>

  <div
    *ngIf="editOn"
    class="editBlock"
  >
    <input
      type="text"
      [(ngModel)]="task.text"
    />
    <input
      type="date"
      [(ngModel)]="task.date"
    />

    <input
      type="checkbox"
      [(ngModel)]="task.isImportant"
      id="importantCheckbox"
    />
    <label for="#importantCheckbox">Important</label>

    <button
      (click)="saveTask()"
      class="save-btn"
    >
      Save
    </button>
  </div>
</div>
