main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  // background-color: #fff;
  // border-radius: 10px;
  width: 80%;
  margin: 0 auto;

  .scheduled {
    width: 60%;

    p {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid #000;
    }
  }
}
