form {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    border: 1px solid teal;
    height: 40px;
    align-items: center;
    margin-bottom: 30px;
}