* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  padding-top: 30px;
  background-color: #007bb4;
}

input:not([type="checkbox"], [type="radio"]) {
  height: 30px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  width: 300px;
  height: 45px;
  padding: 0 8px;
  background-color: #dbe2ef;

  &::placeholder {
    text-transform: capitalize;
  }
}
